# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db


old_data.json

# frontend
node_modules/